#miAside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    transition: left 0.3s ease;
  }
  
  #miAside.open {
    left: 0;
  }
  