body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}



aside {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  left:100%;
}

.aside-header {
  text-align: center;
}

.aside-body ul {
  list-style-type: none;
  padding: 0;
}

.aside-body ul li {
  margin-bottom: 10px;
}

.aside-body ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.aside-body ul li a:hover {
  background-color: #ddd;
}
